<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SNDT Library</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
	<h3>Welcome !!</h3>
  <h4> SNDT Library</h4>
  <div style="width:300px;height:200px; background-color:rgba(251, 255, 0, 0.203);">
  <button type="submit"><a href='/addbook'>Add Books</a></button>
  <button type="submit"><a href='/showbooks'>View Books</a></button>
  <button type="submit"><a href='/login'>Logout</a></button>
  </div>
  
    
  </body>
</html>