<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SNDT Library</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  </head>
  <body>
	<h3>Check our collection</h3>
  <table border="1">
    <tr>
      <th> Book_id</th>
      <th> Book_name</th>
      <th> Aisle_number</th>
      <th>Action</th>
      
     
    </tr>
    {% for getdata in books %}
    <tr>
      <td>{{getdata.Book_id}}</td>
      <td>{{getdata.Book_name}}</td>
      <td>{{getdata.Aisle_number}}</td>
      <td>
        <a herf ="{% url 'delete' getdata.Book_id %}" class="btn btn-danger btn-sm">Delete</a>
      </td>
      
    </tr>
    
    {% endfor %}
    
   

  </body>
</html>